@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap'); /*Fonte*/

@font-face {
  font-family: 'Times Ten Pro'; /*Fonte*/
  src: url('fonts/times-ten-pro-bold.woff2') format('woff2'), 
       url('fonts/times-ten-pro-bold.woff') format('woff'); 
  font-weight: 700; 
}

*{
 margin: 0%; /*sem margem*/
 padding: 0%; 
}

.Principal {
    background-image: url(/img/café\ principal.webp); /*imagem*/
    background-repeat: no-repeat; /*para não repetir*/
    background-size: cover; /*para ficar na pagina inteira*/
    padding-top: 20px; /*separar conteúdo do topo da imagem*/
    height: 600px; /*altura*/
    width: 100%; /*largura*/
    color: #ffffff; /*cor da fonte*/
    padding-left: 50px; /*separar conteúdo da esquerda*/

    .coffee-btn {
   background: #f9bf69; /*botão de café*/
   color: #603808; 
   font-family: 'Times Ten Pro', serif; 
   font-weight: bold; /*deixar em negrito*/
   font-size: 16px;   /*tamanho da fonte*/
   border: none; /*sem borda*/
   border-radius: 18px;  /*bordas arredondadas*/
   padding: 9px 20px;   /*padding do botão*/
   transition: color 0.2s; /*transição de cor*/
  }
  .coffee-btn:hover{
   background: #d37809; /*cor do botão ao passar o mouse*/
   color: #fff; /*cor da fonte ao passar o mouse*/
  }
}

#fonte {
  font-size: 140px; 
  font-family: "Parisienne", cursive; 
  font-weight: 400; 
  font-style: normal; 
     
}

.sign {
  text-decoration: underline; /*sublinhado*/
}

.espaco {
  padding: 15px; 
}

nav {
margin-bottom: 100px; /*espaçamento entre o menu e a imagem*/
width: 100%;
height: 70px;
}

#nav {
  display: flex; /*para ficar flexivel de mexer*/
  align-items: center; /*alinhar no centro*/
  justify-content: space-between; /*espaço entre as div's*/
}

#canto {
  font-size: 30px;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

#meio {
  width: 500px;
  display: flex;
  justify-content: space-between;
  
}

#lateral {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;  /*separar conteúdo da direita*/
}


/*dvisão 2 - DIAS*/

/*config do display da página*/
.coffee-div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 32px ;
  background: #fff;
}

.coffee-texto {
  flex-direction: column;
  max-width: 480px;

}
/*titulo config*/
.coffee-title {
  font-family: 'Times Ten Pro', serif;
  font-size: 2.9rem;
  color: #603808;
  margin-bottom: 24px;
}

.coffee-desc {
  font-family: 'Times Ten Pro', serif;
  color: #787878;
  font-size: 1.1rem;
  margin-bottom: 32px;
}


/*configurações do botao embaixo do texto*/
.coffee-btn {
  background: #f9bf69;
  color: #603808;
  font-family: 'Times Ten Pro', serif;
  font-weight: bold;
  font-size: 1rem;      
  border: none;
  border-radius: 18px;    
  padding: 9px 20px;      
  transition: color 0.2s;
}
 .coffee-btn:hover{
  background: #d37809;
  color: #fff;
}
 
/*foto 2 do café derramado na pag*/
.coffee-decor {
 margin-top: -175px;
 margin-left: -9px;
}
 
